.project {
    width: 100%;
    margin-top: 2rem;

    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: 0.1s;

    background-clip: padding-box;
    background-position: center;

    display: block;
    width: 100%;
}

.project .title {
    font-size: 1.5rem;
    color: white;
}

.project:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.25);
}

.category_header {
    text-align: center;
}

.category {
    margin-bottom: 4rem;
    width: 100%;
}
