.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
    padding-top: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: 0.1s;
}

.section:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.25);
}

.header {
    text-align: center;
}

.title {
    font-size: 1.5rem;
    color: white;
}

.date {
    font-size: 1rem;
}

.description {
    font-size: 1rem;
    color: lightgray;
}